#DashBar { 
  position: fixed; 
  top: 0; 
  left: -100%;
  width: 100%;
  font-family: sans-serif;
  padding:0 0 0 30px;
  margin:0;
  background-repeat: no-repeat;
  background-position: top right;
}
#DashBar:hover, 
#DashBar.over {
  left:0;
  background-position: top left;
}

#DashBar a {
  display:block;
  padding:0.4em 1em;
  margin:0;
  text-decoration: none;
  font-weight:normal;
  border:none;
}

#DashBar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background:transparent;
}
#DashBar ul ul {  
  width:140px;
}

#DashBar li {
  float: left;
  text-align:left;
  position: relative;
  padding:0;
  margin:0;
}

#DashBar li ul {
  display: none;
  position: absolute; 
  top: 1.7em;
  left: 0;
}
#DashBar li > ul {
	top: auto;
	left: auto;
	}
#DashBar li:hover ul,
#DashBar li.over ul { display: block; }  

#DashBar ul ul li {
  clear:left;
}
#DashBar ul ul li a {
  width:140px;
}